.cv-header {
    background-color: #1e3349;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cv-header h1 {
    margin: 0;
    color: white;
}

.cv-body {
    padding: 0rem 2rem;
    font-family: Arial, sans-serif;
}

.cv-subheader {
    background-color: #3139412d;
    color: #1e3349;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cv-education-entry p {
    padding-left: 0.5rem;
    padding: 0;
    margin: 0;
}

.cv-education-entry h3 {
    margin-bottom: 0rem;
    font-weight: bold;
    color: #2c3e50;
}

.cv-education-details {
  display: flex;
  justify-content: space-between;
  color: #666;
  font-size: 0.9em;
}

.cv-contact-info {
    display: flex;
    gap: 1rem;
    color: white;  
    font-size: 0.9em;
    margin-bottom: 0; 
}

.cv-contact-info div {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

.cv-experience {
  margin-top: 2rem;
}

.cv-experience-entry {
  margin-bottom: 1.5rem;
}

.cv-experience-entry h3 {
  margin-bottom: 0.25rem;
  color: #2c3e50;
}

.cv-experience-entry h4 {
  margin: 0.25rem 0;
  color: #445566;
}

.cv-experience-details {
  display: flex;
  justify-content: space-between;
  color: #666;
  font-size: 0.9em;
  margin-bottom: 0.5rem;
}

.cv-skills {
  margin-top: 2rem;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.skill-item {
  background-color: #f0f0f0;
  padding: 0.25rem 0.75rem;
  border-radius: 15px;
  font-size: 0.9em;
  color: #444;
}