#root {
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
}

.main {
  display: flex;
  width: calc(100% - 4rem); 
  min-height: calc(100vh - 4rem); 
  margin: 2rem;
  box-sizing: border-box;
  gap: 2rem;
}

.left-side {
  width: 50%;
  gap: 1rem;
  display: flex;
  overflow-y: auto;
  padding-right: 1rem;
}

.right-side {
  width: 50%;
  aspect-ratio: 1 / 1.4142;
  box-sizing: border-box;
  background-color: white;
  border-radius: 1px;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  align-self: flex-start;
}

.options {
  background-color: white;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  padding: 1rem 0.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button-group {
  display: flex;
  flex-direction: column;
  width: 100%; 
  justify-content: center;
  gap: 0.5rem;
}

.square-button {
  aspect-ratio: 1 / 1;
}

.button-clear {
  background-color: #ff4444;
  padding: 0.5rem;
  color: white;
}

.button-load {
  padding: 0.5rem;
  background-color: #f5f5f5;
  color: #213547;
}

.button-load.active {
  background-color: #646cff;
  color: white;
}


